<!--Display place name and link back to places list.
 Made with help of GPT based on my notes and assignment detail-->

<h2 style="color: blue;"><%= @place.name %></h2>


<% @place.entries.each do |entry| %>
  <div>
    <h4><%= entry.title %></h4>
    <p><%= entry.posted_on.strftime("%B %d, %Y") %></p>
    <p><%= entry.description %></p>
  </div>
<% end %>


<h4>Options:</h4>
<%= link_to 'Back to Places', places_path %>
<br>
<%= link_to 'Add New Entry', new_place_entry_path(@place) %>